@{
    Layout = null;
}
<style>
    @@media only screen and (max-width: 1028px) {
        #bannerHeader {
            display: none
        }
    }

    /* CSS for Banner-header : Start */
    .no-select {
        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
        -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
        user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
    }

    .text-banner-header {
        line-height: 29.4px;
        font-size: 25px;
        font-weight: 400;
    }
    /* CSS for Banner-header : End */
</style>

<div class="container-fluid" style="padding: 0">
    <div style="background-image: url(/images/Frame\ 292.png); background-repeat: no-repeat; background-size: cover; width: 100%; height: 235px" id="bannerHeader">
        <div  style="width: 535px; margin-left: 400px; padding-top: 75px">
            <span class="text-banner-header no-select" style="color: white; ">USAID SUPPORTS VIETNAMESE SMALL AND </span>
            <span class="text-banner-header no-select" style="color: white; ">MEDIUM ENTERPRISE POST COVID-19 </span>
            <span class="text-banner-header no-select" style="color: #2AD9FF; ">BUSINESS RECOVERY</span>
        </div>

    </div>
</div>
