@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en-US">
<head>
    <!-- Added by HTTrack -->
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
    <!-- Start Library-->
    <partial name="../Shared/A2FComponent/Library" />
    <!-- End Library-->

</head>
<body>
    @RenderBody()
    <!-- Starts Header -->
    <partial name="../Shared/A2FComponent/_Header" />
    <!-- Ends Header -->
    <!--Body Login-->
    <partial name="../Shared/A2FComponent/_Body_Contact" />
    <!--End Body Login-->
    <!-- Start Footer -->
    <partial name="../Shared/A2FComponent/_Footer" />
    <!-- Ends Footer -->
    <!-- Start Javascript -->
    @*<partial name="Auction/FrontEnd/_Javascript" />*@
    <!-- Ends Javascript -->


</body>
</html>
