@{
    Layout = null;
}

<div style="background-color: #154183;">
    <h5 style="color: white; line-height: 30px; font-size: 18px; font-weight: 400; padding-left: 20px;">@ViewBag.lblTinNongNhat</h5>
</div>

@for (int i = 0; i < ViewBag.list5HottestNews.Count; i++)
{
    var item = ViewBag.list5HottestNews[i];
    <div class="row" style="margin-top: 20px; margin-bottom: 20px">
        <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5" style="">
            <a href="/chi-tiet-tin-tuc/@item.Url" >
                <img src="@item.Photo" style="width: 100%; padding: unset;" class="img-responsive"
                 alt="Image">
            </a>
            
        </div>
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7">
            <a class="text-news" href="/chi-tiet-tin-tuc/@item.Url" style="font-weight: 700; line-height: 21px; font-size: 14px;">@item.Name</a>
        </div>
    </div>
}



