@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}
<style>
    .Event_Image {
        position: relative;
        padding-left: 10.5%;
        height: 219px;
    }

    .Event_Image img {
        position: absolute;
    }

    .Event_Image img:nth-child(2) {
        top: 6%;
        left: 29%;
    }

    .Event_Image img:first-of-type {
        width: 350px;
        height: 220px;
    }
    .EventContext {
        padding-bottom: 4%;
    }

    .EventContext p:nth-child(3) {
        display: inline-block;
        padding-right: 1%;
        font-size: 18px;
    }

    .EventContext p:last-of-type {
        display: inline-block;
        padding-right: 1%;
        font-size: 18px;
    }

    .EventContext p:first-of-type {
        color: #265178;
        font-size: 28px;
        font-family: sans-serif;
    }

    .EventContext p:nth-child(2) {
        color: #5A6990;
        font-size: 15px;
        font-family: sans-serif;
    }

    .EventContext span {
        color: #54555A;
        font-size: 18px;
        font-family: sans-serif;
    }
</style>
<div class="row">

    <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 EventContext">
        <a href="#">Hỗ trợ doanh nghiệp khu vực tư nhân kinh doanh bền vững giai đoạn 2021 - 2025</a>
        <p>
            Một là, nghiên cứu, ban hành cơ chế để phát huy vai trò mở đường, dẫn dắt của doanh nghiệp nhà nước trong việc hình thành và
            mở rộng các chuỗi sản xuất cung ứng và chuỗi giá trị
        </p>
        <p><i class="fas fa-calendar"></i></p><span>11/08/2021    -   21/08/2021</span><br />
        <p><i class="fas fa-map-marker-alt"></i></p><span>Số 6B Hoàng Diệu, Ba Đình, Hà Nội</span>
    </div>

    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 Event_Image">
        <img src="~/images/bg1.png" />
        <img src="~/images/Group 265 (1).png" />
        <p class="PlayButton"><a href="#"><i class="fas fa-play" style="font-size: 18px;"></i></a></p>
    </div>

</div>