@{
    Layout = null;
}
<div style="margin-top: 10px; color: #23527c;">
<a style="padding-right: 10px; font-size: 14px; line-height: 14.06px; font-weight: 400; color: #23527c;" href="/home">Trang chủ</a> / <a style="padding-left: 10px; font-size: 14px; line-height: 14.06px; font-weight: 400; color: #23527c;" href="/news">Tin tức cập nhật</a>
</div>