<!DOCTYPE html>
<html lang="en-US">

<!-- Mirrored from thenextmag.bk-ninja.com/default/asian-stocks-pull-back-on-u-s-tech-declines-eurozone-worries/ by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 10 Sep 2019 06:21:51 GMT -->
<!-- Added by HTTrack -->
<meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>
    <meta charset="UTF-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="profile" href="http://gmpg.org/xfn/11" />

    <link rel="pingback" href="../xmlrpc.php">

    <!-- INCLUDE 1 - LIBRARIES -->
    <?php include_once("reusable/library.php") ?>
    <partial name="NovaticAdmin/_NovaticAdminChat" />

</head>
<body class="post-template-default single single-post postid-1885 single-format-standard header-1">
    <div class="site-wrapper">
        <!-- INCLUDE 2 - HEADER  -->
        <?php include_once("reusable/header.php") ?>

        <div class="site-content single-entry single-entry--billboard-floorfade">
            <!-- INCLUDE 3 - POST HEADER  -->
            <?php include_once("reusable/6-postHeader.php") ?>

            <div class="mnmd-block mnmd-block--fullwidth single-entry-wrap">
                <div class="container">
                    <div class="row">
                        <div class="mnmd-main-col " role="main">
                            <!-- INCLUDE 12 - POST BODY -->
                            <?php include_once("reusable/6-postBody.php") ?>

                            <!-- INCLUDE 11 - AUTHOR -->
                            <?php include_once("reusable/author.php") ?>

                            <!-- INCLUDE 10 - YOU MAY ALSO LIKE -->
                            <?php include_once("reusable/youMayAlsoLike.php") ?>

                            <!-- INCLUDE 9 - COMMENT -->
                            <?php include_once("reusable/comment.php") ?>
                            <!-- INCLUDE 9 - MORE IN NATION -->
                            <?php include_once("reusable/4-moreInNation.php") ?>

                        </div>

                        <div class="mnmd-sub-col sidebar js-sticky-sidebar" role="complementary">
                            <div class="theiaStickySidebar">

                                <!-- INCLUDE 13 - SIDE CONTENT LATES -->
                                <?php include_once("reusable/sideContentLates.php") ?>

                                <!-- INCLUDE 14 - SIDE CONTENT POPULAR -->
                                <?php include_once("reusable/sideContentPopular.php") ?>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <!-- INCLUDE 4 - FOOTER -->
        <?php include_once("reusable/footer.php") ?>
        <!-- INCLUDE 5 - STICKY HEADER -->
        <?php include_once("reusable/stickyHeader.php") ?>

        <!-- INCLUDE 7 - USER MODAL -->
        <?php include_once("reusable/userModal.php") ?>

        <!-- INCLUDE 6 - CANVAS MENU -->
        <?php include_once("reusable/canvasMenu.php") ?>

        <!-- INCLUDE 8 - SUBSCRIBE MODAL -->
        <?php include_once("reusable/subscribeModal.php") ?>

        <!-- go top button -->
        <a href="#" class="mnmd-go-top btn btn-default hidden-xs js-go-top-el"><i class="mdicon mdicon-arrow_upward"></i></a>
    </div>
    <!-- .site-wrapper -->
    <!-- INCLUDE 2 - JAVASCRIPT -->
    <?php include_once("reusable/javascript.php") ?>
</body>

</html>
