
@{
    Layout = "_FrontEnd_10_Category";
}

<div id="tnm_posts_listing_list_alt_a-5d773eef0cf49" class="mnmd-block">
    <div class="posts-list list-unstyled list-space-xl">
        <div class="list-item">
            <article class="post post--horizontal ">
                <div class="post__thumb ">
                    <a href="../../microsoft-joins-forces-with-intel-to-beat-spectre/index.html"><img width="400" height="300" src="/files/frontend/images/upload/StockSnap_LBYK1XTHFC-1-400x300.jpg" class="attachment-tnm-xs-4_3 size-tnm-xs-4_3 wp-post-image" alt="" srcset="/files/frontend/images/upload/StockSnap_LBYK1XTHFC-1-400x300.jpg 400w, /files/frontend/images/upload/StockSnap_LBYK1XTHFC-1-180x135.jpg 180w, /files/frontend/images/upload/StockSnap_LBYK1XTHFC-1-600x450.jpg 600w, /files/frontend/images/upload/StockSnap_LBYK1XTHFC-1-800x600.jpg 800w, /files/frontend/images/upload/StockSnap_LBYK1XTHFC-1-1200x900.jpg 1200w, /files/frontend/images/upload/StockSnap_LBYK1XTHFC-1-1600x1200.jpg 1600w" sizes="(max-width: 400px) 100vw, 400px" /></a>
                    <!-- close a tag -->
                </div>
                <div class="post__text ">
                    <a class="cat-208 post__cat cat-theme" href="computer/index.html">Computer</a>
                    <h3 class="post__title typescale-3"><a href="../../microsoft-joins-forces-with-intel-to-beat-spectre/index.html">Microsoft joins forces with Intel to beat Spectre</a></h3>
                    <div class="post__excerpt ">
                        <div class="excerpt">Days fish waters gathered given made third under blessed, is face. Is won&#8217;t lights it man can&#8217;t the. Creepeth darkness own. Also. Divide ...</div>
                    </div>
                    <div class="post__meta">
                        <span class="entry-author"> By <a class="entry-author__name" href="../../author/gappingworld/index.html">gappingworld</a></span>
                        <time class="time published" datetime="2018-03-07T12:22:14+00:00" title="March 7, 2018 at 12:22 pm"><i class="mdicon mdicon-schedule"></i>March 7, 2018</time><span><a title="0 Comments" href="../../microsoft-joins-forces-with-intel-to-beat-spectre/index.html"><i class="mdicon mdicon-chat_bubble_outline"></i>0</a></span>
                    </div>
                </div>
            </article>
        </div>
        <div class="list-item">
            <article class="post post--horizontal post--horizontal-sm">
                <div class="post__thumb ">
                    <a href="../../after-years-of-problems-nasas-robonaut-is-coming-home/index.html"><img width="400" height="300" src="/files/frontend/images/upload/robonaut-machines-dexterous-humanoid-39644-1-400x300.jpg" class="attachment-tnm-xs-4_3 size-tnm-xs-4_3 wp-post-image" alt="" srcset="/files/frontend/images/upload/robonaut-machines-dexterous-humanoid-39644-1-400x300.jpg 400w, /files/frontend/images/upload/robonaut-machines-dexterous-humanoid-39644-1-180x135.jpg 180w, /files/frontend/images/upload/robonaut-machines-dexterous-humanoid-39644-1-600x450.jpg 600w, /files/frontend/images/upload/robonaut-machines-dexterous-humanoid-39644-1-800x600.jpg 800w, /files/frontend/images/upload/robonaut-machines-dexterous-humanoid-39644-1-1200x900.jpg 1200w, /files/frontend/images/upload/robonaut-machines-dexterous-humanoid-39644-1-1600x1200.jpg 1600w" sizes="(max-width: 400px) 100vw, 400px" /></a>
                    <!-- close a tag -->
                </div>
                <div class="post__text ">
                    <a class="cat-209 post__cat cat-theme" href="science/index.html">Science</a>
                    <h3 class="post__title typescale-2"><a href="../../after-years-of-problems-nasas-robonaut-is-coming-home/index.html">After Years of Problems, NASA&#8217;s Robonaut Is Coming Home</a></h3>
                    <div class="post__excerpt ">
                        <div class="excerpt">Days fish waters gathered given made third under blessed, is face. Is won&#8217;t lights it man can&#8217;t the. Creepeth darkness own. Also. Divide ...</div>
                    </div>
                    <div class="post__meta">
                        <span class="entry-author"> By <a class="entry-author__name" href="../../author/gappingworld/index.html">gappingworld</a></span>
                        <time class="time published" datetime="2018-03-07T10:50:38+00:00" title="March 7, 2018 at 10:50 am"><i class="mdicon mdicon-schedule"></i>March 7, 2018</time><span><a title="0 Comments" href="../../after-years-of-problems-nasas-robonaut-is-coming-home/index.html"><i class="mdicon mdicon-chat_bubble_outline"></i>0</a></span>
                    </div>
                </div>
            </article>
        </div>
        <div class="list-item">
            <article class="post post--horizontal post--horizontal-sm">
                <div class="post__thumb ">
                    <a href="../../apple-watch-what-does-the-future-hold/index.html"><img width="400" height="300" src="/files/frontend/images/upload/photo-1434494878577-86c23bcb06b9-1-400x300.jpg" class="attachment-tnm-xs-4_3 size-tnm-xs-4_3 wp-post-image" alt="" srcset="/files/frontend/images/upload/photo-1434494878577-86c23bcb06b9-1-400x300.jpg 400w, /files/frontend/images/upload/photo-1434494878577-86c23bcb06b9-1-180x135.jpg 180w, /files/frontend/images/upload/photo-1434494878577-86c23bcb06b9-1-600x450.jpg 600w, /files/frontend/images/upload/photo-1434494878577-86c23bcb06b9-1-800x600.jpg 800w, /files/frontend/images/upload/photo-1434494878577-86c23bcb06b9-1-1200x900.jpg 1200w, /files/frontend/images/upload/photo-1434494878577-86c23bcb06b9-1-1600x1200.jpg 1600w" sizes="(max-width: 400px) 100vw, 400px" /></a>
                    <!-- close a tag -->
                </div>
                <div class="post__text ">
                    <a class="cat-190 post__cat cat-theme" href="index.html">Tech</a>
                    <h3 class="post__title typescale-2"><a href="../../apple-watch-what-does-the-future-hold/index.html">Apple Watch: What does the future hold?</a></h3>
                    <div class="post__excerpt ">
                        <div class="excerpt">With a Series 4 Apple Watch probably on the horizon, Dan Moren steps back to ask what Apple's roadmap for the smartwatch looks ...</div>
                    </div>
                    <div class="post__meta">
                        <span class="entry-author"> By <a class="entry-author__name" href="../../author/gappingworld/index.html">gappingworld</a></span>
                        <time class="time published" datetime="2018-03-07T10:48:07+00:00" title="March 7, 2018 at 10:48 am"><i class="mdicon mdicon-schedule"></i>March 7, 2018</time><span><a title="5 Comments" href="../../apple-watch-what-does-the-future-hold/index.html"><i class="mdicon mdicon-chat_bubble_outline"></i>5</a></span>
                    </div>
                </div>
            </article>
        </div>
        <div class="list-item">
            <article class="post post--horizontal post--horizontal-sm">
                <div class="post__thumb ">
                    <a href="../../ubc-researchers-use-drones-to-track-jellyfish-blooms/index.html"><img width="400" height="300" src="/files/frontend/images/upload/pexels-photo-837500-1-400x300.jpg" class="attachment-tnm-xs-4_3 size-tnm-xs-4_3 wp-post-image" alt="" srcset="/files/frontend/images/upload/pexels-photo-837500-1-400x300.jpg 400w, /files/frontend/images/upload/pexels-photo-837500-1-180x135.jpg 180w, /files/frontend/images/upload/pexels-photo-837500-1-600x450.jpg 600w, /files/frontend/images/upload/pexels-photo-837500-1-800x600.jpg 800w, /files/frontend/images/upload/pexels-photo-837500-1-1200x900.jpg 1200w, /files/frontend/images/upload/pexels-photo-837500-1-1600x1200.jpg 1600w" sizes="(max-width: 400px) 100vw, 400px" /></a>
                    <!-- close a tag -->
                </div>
                <div class="post__text ">
                    <a class="cat-209 post__cat cat-theme" href="science/index.html">Science</a>
                    <h3 class="post__title typescale-2"><a href="../../ubc-researchers-use-drones-to-track-jellyfish-blooms/index.html">UBC researchers use drones to track jellyfish blooms</a></h3>
                    <div class="post__excerpt ">
                        <div class="excerpt">In this Q&A, researchers Brian Hunt, the UBC Hakai professor in oceanography, and faculty of science undergraduate student Jessica Schaub talk about what ...</div>
                    </div>
                    <div class="post__meta">
                        <span class="entry-author"> By <a class="entry-author__name" href="../../author/gappingworld/index.html">gappingworld</a></span>
                        <time class="time published" datetime="2018-03-07T10:43:35+00:00" title="March 7, 2018 at 10:43 am"><i class="mdicon mdicon-schedule"></i>March 7, 2018</time><span><a title="0 Comments" href="../../ubc-researchers-use-drones-to-track-jellyfish-blooms/index.html"><i class="mdicon mdicon-chat_bubble_outline"></i>0</a></span>
                    </div>
                </div>
            </article>
        </div>
        <div class="list-item">
            <article class="post post--horizontal post--horizontal-sm">
                <div class="post__thumb ">
                    <a href="../../best-4k-camera-drones-to-create-stunning-aerial-film/index.html">
                        <img width="400" height="300" src="/files/frontend/images/upload/pexels-photo-67699-1-400x300.jpg" class="attachment-tnm-xs-4_3 size-tnm-xs-4_3 wp-post-image" alt="" srcset="/files/frontend/images/upload/pexels-photo-67699-1-400x300.jpg 400w, /files/frontend/images/upload/pexels-photo-67699-1-180x135.jpg 180w, /files/frontend/images/upload/pexels-photo-67699-1-600x450.jpg 600w, /files/frontend/images/upload/pexels-photo-67699-1-800x600.jpg 800w, /files/frontend/images/upload/pexels-photo-67699-1-1200x900.jpg 1200w, /files/frontend/images/upload/pexels-photo-67699-1-1600x1200.jpg 1600w" sizes="(max-width: 400px) 100vw, 400px" />
                        <div class="overlay-item post-type-icon--inverse overlay-item--sm-p">
                            <div class="post-score-hexagon 1812">
                                <svg class="hexagon-svg" version="1.1" xmlns="http://www.w3.org/2000/svg" viewbox="-5 -5 184 210">
                                    <g>
                                        <path fill="#FC3C2D" stroke="#fff" stroke-width="10px" d="M81.40638795573723 2.9999999999999996Q86.60254037844386 0 91.7986928011505 2.9999999999999996L168.0089283341811 47Q173.20508075688772 50 173.20508075688772 56L173.20508075688772 144Q173.20508075688772 150 168.0089283341811 153L91.7986928011505 197Q86.60254037844386 200 81.40638795573723 197L5.196152422706632 153Q0 150 0 144L0 56Q0 50 5.196152422706632 47Z"></path>
                                    </g>
                                </svg><span class="post-score-value">8.5</span>
                            </div>
                        </div>
                    </a>
                    <!-- close a tag -->
                </div>
                <div class="post__text ">
                    <a class="cat-190 post__cat cat-theme" href="index.html">Tech</a>
                    <h3 class="post__title typescale-2"><a href="../../best-4k-camera-drones-to-create-stunning-aerial-film/index.html">Best 4K Camera Drones To Create Stunning Aerial Film</a></h3>
                    <div class="post__excerpt ">
                        <div class="excerpt">The aerial footage from a 4k drone is without doubt just stunning. Today, we review the 10 best 4k drones on the market ...</div>
                    </div>
                    <div class="post__meta">
                        <span class="entry-author"> By <a class="entry-author__name" href="../../author/gappingworld/index.html">gappingworld</a></span>
                        <time class="time published" datetime="2018-03-07T08:52:52+00:00" title="March 7, 2018 at 8:52 am"><i class="mdicon mdicon-schedule"></i>March 7, 2018</time><span><a title="2 Comments" href="../../best-4k-camera-drones-to-create-stunning-aerial-film/index.html"><i class="mdicon mdicon-chat_bubble_outline"></i>2</a></span>
                    </div>
                </div>
            </article>
        </div>
        <div class="list-item">
            <article class="post post--horizontal ">
                <div class="post__thumb ">
                    <a href="../../phone-photography-101-how-to-take-good-pictures-with-your-phone/index.html">
                        <img width="400" height="300" src="/files/frontend/images/upload/pexels-photo-65090-1-400x300.jpg" class="attachment-tnm-xs-4_3 size-tnm-xs-4_3 wp-post-image" alt="" srcset="/files/frontend/images/upload/pexels-photo-65090-1-400x300.jpg 400w, /files/frontend/images/upload/pexels-photo-65090-1-180x135.jpg 180w, /files/frontend/images/upload/pexels-photo-65090-1-600x450.jpg 600w, /files/frontend/images/upload/pexels-photo-65090-1-800x600.jpg 800w, /files/frontend/images/upload/pexels-photo-65090-1-1200x900.jpg 1200w, /files/frontend/images/upload/pexels-photo-65090-1-1600x1200.jpg 1600w" sizes="(max-width: 400px) 100vw, 400px" />
                        <div class="post-type-icon overlay-item post-type-icon--inverse post-type-icon--md "><i class="mdicon mdicon-play_circle_outline"></i></div>
                    </a>
                    <!-- close a tag -->
                </div>
                <div class="post__text ">
                    <a class="cat-207 post__cat cat-theme" href="mobile/index.html">Mobile</a>
                    <h3 class="post__title typescale-3"><a href="../../phone-photography-101-how-to-take-good-pictures-with-your-phone/index.html">Phone Photography 101: How to Take Good Pictures With Your Phone</a></h3>
                    <div class="post__excerpt ">
                        <div class="excerpt">What's the secret to taking great pictures with your smartphone, then? As it turns out, there are a few of them. Check out ...</div>
                    </div>
                    <div class="post__meta">
                        <span class="entry-author"> By <a class="entry-author__name" href="../../author/gappingworld/index.html">gappingworld</a></span>
                        <time class="time published" datetime="2018-03-07T08:49:21+00:00" title="March 7, 2018 at 8:49 am"><i class="mdicon mdicon-schedule"></i>March 7, 2018</time><span><a title="0 Comments" href="../../phone-photography-101-how-to-take-good-pictures-with-your-phone/index.html"><i class="mdicon mdicon-chat_bubble_outline"></i>0</a></span>
                    </div>
                </div>
            </article>
        </div>
        <div class="list-item">
            <article class="post post--horizontal post--horizontal-sm">
                <div class="post__thumb ">
                    <a href="../../apple-iphone-x-review-the-best-iphone-challenges-you-to-think-different/index.html">
                        <img width="400" height="300" src="/files/frontend/images/upload/iphone-x-17-1-400x300.jpg" class="attachment-tnm-xs-4_3 size-tnm-xs-4_3 wp-post-image" alt="" srcset="/files/frontend/images/upload/iphone-x-17-1-400x300.jpg 400w, /files/frontend/images/upload/iphone-x-17-1-180x135.jpg 180w, /files/frontend/images/upload/iphone-x-17-1-600x450.jpg 600w, /files/frontend/images/upload/iphone-x-17-1-800x600.jpg 800w, /files/frontend/images/upload/iphone-x-17-1-1200x900.jpg 1200w, /files/frontend/images/upload/iphone-x-17-1-1600x1200.jpg 1600w" sizes="(max-width: 400px) 100vw, 400px" />
                        <div class="overlay-item post-type-icon--inverse overlay-item--sm-p">
                            <div class="post-score-hexagon 1756">
                                <svg class="hexagon-svg" version="1.1" xmlns="http://www.w3.org/2000/svg" viewbox="-5 -5 184 210">
                                    <g>
                                        <path fill="#FC3C2D" stroke="#fff" stroke-width="10px" d="M81.40638795573723 2.9999999999999996Q86.60254037844386 0 91.7986928011505 2.9999999999999996L168.0089283341811 47Q173.20508075688772 50 173.20508075688772 56L173.20508075688772 144Q173.20508075688772 150 168.0089283341811 153L91.7986928011505 197Q86.60254037844386 200 81.40638795573723 197L5.196152422706632 153Q0 150 0 144L0 56Q0 50 5.196152422706632 47Z"></path>
                                    </g>
                                </svg><span class="post-score-value">9</span>
                            </div>
                        </div>
                    </a>
                    <!-- close a tag -->
                </div>
                <div class="post__text ">
                    <a class="cat-207 post__cat cat-theme" href="mobile/index.html">Mobile</a>
                    <h3 class="post__title typescale-2"><a href="../../apple-iphone-x-review-the-best-iphone-challenges-you-to-think-different/index.html">Apple iPhone X review: The best iPhone challenges you to think different</a></h3>
                    <div class="post__excerpt ">
                        <div class="excerpt">Apple's most expensive phone ever is finally, but is it worth it? We fully review the future of the iPhone line.</div>
                    </div>
                    <div class="post__meta">
                        <span class="entry-author"> By <a class="entry-author__name" href="../../author/gappingworld/index.html">gappingworld</a></span>
                        <time class="time published" datetime="2018-03-07T08:16:51+00:00" title="March 7, 2018 at 8:16 am"><i class="mdicon mdicon-schedule"></i>March 7, 2018</time><span><a title="0 Comments" href="../../apple-iphone-x-review-the-best-iphone-challenges-you-to-think-different/index.html"><i class="mdicon mdicon-chat_bubble_outline"></i>0</a></span>
                    </div>
                </div>
            </article>
        </div>
        <div class="list-item">
            <article class="post post--horizontal post--horizontal-sm">
                <div class="post__thumb ">
                    <a href="../../review-nokia-retunes-3310-for-a-new-generation/index.html">
                        <img width="400" height="300" src="/files/frontend/images/upload/001-Nokia_3310_new-1-400x300.jpg" class="attachment-tnm-xs-4_3 size-tnm-xs-4_3 wp-post-image" alt="" srcset="/files/frontend/images/upload/001-Nokia_3310_new-1-400x300.jpg 400w, /files/frontend/images/upload/001-Nokia_3310_new-1-180x135.jpg 180w, /files/frontend/images/upload/001-Nokia_3310_new-1-600x450.jpg 600w, /files/frontend/images/upload/001-Nokia_3310_new-1-800x600.jpg 800w, /files/frontend/images/upload/001-Nokia_3310_new-1-1200x900.jpg 1200w, /files/frontend/images/upload/001-Nokia_3310_new-1-1600x1200.jpg 1600w" sizes="(max-width: 400px) 100vw, 400px" />
                        <div class="overlay-item post-type-icon--inverse overlay-item--sm-p">
                            <div class="post-score-hexagon 1746">
                                <svg class="hexagon-svg" version="1.1" xmlns="http://www.w3.org/2000/svg" viewbox="-5 -5 184 210">
                                    <g>
                                        <path fill="#FC3C2D" stroke="#fff" stroke-width="10px" d="M81.40638795573723 2.9999999999999996Q86.60254037844386 0 91.7986928011505 2.9999999999999996L168.0089283341811 47Q173.20508075688772 50 173.20508075688772 56L173.20508075688772 144Q173.20508075688772 150 168.0089283341811 153L91.7986928011505 197Q86.60254037844386 200 81.40638795573723 197L5.196152422706632 153Q0 150 0 144L0 56Q0 50 5.196152422706632 47Z"></path>
                                    </g>
                                </svg><span class="post-score-value">10</span>
                            </div>
                        </div>
                    </a>
                    <!-- close a tag -->
                </div>
                <div class="post__text ">
                    <a class="cat-207 post__cat cat-theme" href="mobile/index.html">Mobile</a>
                    <h3 class="post__title typescale-2"><a href="../../review-nokia-retunes-3310-for-a-new-generation/index.html">Review: Nokia retunes 3310 for a new generation</a></h3>
                    <div class="post__excerpt ">
                        <div class="excerpt">For many people out there, Nokia 3310 was the beginning of mobile phones, even though technically, that’s not really accurate. But at the ...</div>
                    </div>
                    <div class="post__meta">
                        <span class="entry-author"> By <a class="entry-author__name" href="../../author/gappingworld/index.html">gappingworld</a></span>
                        <time class="time published" datetime="2018-03-07T07:37:05+00:00" title="March 7, 2018 at 7:37 am"><i class="mdicon mdicon-schedule"></i>March 7, 2018</time><span><a title="3 Comments" href="../../review-nokia-retunes-3310-for-a-new-generation/index.html"><i class="mdicon mdicon-chat_bubble_outline"></i>3</a></span>
                    </div>
                </div>
            </article>
        </div>
        <div class="list-item">
            <article class="post post--horizontal post--horizontal-sm">
                <div class="post__thumb ">
                    <a href="../../oneplus-6-review-a-big-step-closer-to-the-perfect-smartphone/index.html">
                        <img width="400" height="300" src="/files/frontend/images/upload/oneplus-6-hero-promo-hoyle-4-400x300.jpg" class="attachment-tnm-xs-4_3 size-tnm-xs-4_3 wp-post-image" alt="" srcset="/files/frontend/images/upload/oneplus-6-hero-promo-hoyle-4-400x300.jpg 400w, /files/frontend/images/upload/oneplus-6-hero-promo-hoyle-4-180x135.jpg 180w, /files/frontend/images/upload/oneplus-6-hero-promo-hoyle-4-600x450.jpg 600w, /files/frontend/images/upload/oneplus-6-hero-promo-hoyle-4-800x600.jpg 800w, /files/frontend/images/upload/oneplus-6-hero-promo-hoyle-4-1200x900.jpg 1200w, /files/frontend/images/upload/oneplus-6-hero-promo-hoyle-4-1600x1200.jpg 1600w" sizes="(max-width: 400px) 100vw, 400px" />
                        <div class="overlay-item post-type-icon--inverse overlay-item--sm-p">
                            <div class="post-score-hexagon 1971">
                                <svg class="hexagon-svg" version="1.1" xmlns="http://www.w3.org/2000/svg" viewbox="-5 -5 184 210">
                                    <g>
                                        <path fill="#FC3C2D" stroke="#fff" stroke-width="10px" d="M81.40638795573723 2.9999999999999996Q86.60254037844386 0 91.7986928011505 2.9999999999999996L168.0089283341811 47Q173.20508075688772 50 173.20508075688772 56L173.20508075688772 144Q173.20508075688772 150 168.0089283341811 153L91.7986928011505 197Q86.60254037844386 200 81.40638795573723 197L5.196152422706632 153Q0 150 0 144L0 56Q0 50 5.196152422706632 47Z"></path>
                                    </g>
                                </svg><span class="post-score-value">8.9</span>
                            </div>
                        </div>
                    </a>
                    <!-- close a tag -->
                </div>
                <div class="post__text ">
                    <a class="cat-207 post__cat cat-theme" href="mobile/index.html">Mobile</a>
                    <h3 class="post__title typescale-2"><a href="../../oneplus-6-review-a-big-step-closer-to-the-perfect-smartphone/index.html">OnePlus 6 review: A big step closer to the perfect smartphone</a></h3>
                    <div class="post__excerpt ">
                        <div class="excerpt">The reasonably priced powerhouse now comes in an elegant package.</div>
                    </div>
                    <div class="post__meta">
                        <span class="entry-author"> By <a class="entry-author__name" href="../../author/gappingworld/index.html">gappingworld</a></span>
                        <time class="time published" datetime="2018-03-06T04:02:55+00:00" title="March 6, 2018 at 4:02 am"><i class="mdicon mdicon-schedule"></i>March 6, 2018</time><span><a title="0 Comments" href="../../oneplus-6-review-a-big-step-closer-to-the-perfect-smartphone/index.html"><i class="mdicon mdicon-chat_bubble_outline"></i>0</a></span>
                    </div>
                </div>
            </article>
        </div>
    </div>
</div>
<!-- .mnmd-block -->