
@{
    Layout = "_FrontEnd_8_VideoWithList";
}

<article class="mnmd-block post--single post-1844 post type-post status-publish format-standard has-post-thumbnail hentry category-computer category-tech tag-intel tag-microsoft tag-spectre">
    <div class="single-content">
        <header class="single-header">
            <a class="cat-208 post__cat cat-theme" href="../category/tech/computer/index.html">Computer</a><a class="cat-190 post__cat cat-theme" href="../category/tech/index.html">Tech</a>
            <h1 class="entry-title">Microsoft joins forces with Intel to beat Spectre</h1>
            <div class="entry-teaser">
                Software giant is providing Intel’s Skylake patch to Windows 10 users, with more to come
            </div>
            <!-- Entry meta -->
            <div class="entry-meta">
                <span class="entry-author entry-author--with-ava">
                    <img alt='gappingworld' src='/files/frontend/images/upload/authorTop.png' srcset='/files/frontend/images/upload/authorTop2.png 2x' class='avatar avatar-34 photo entry-author__avatar' height='34' width='34' />
                    By <a class="entry-author__name" title="Posts by gappingworld" rel="author" href="../author/gappingworld/index.html">gappingworld</a>
                </span>
                <time class="time published" datetime="2018-03-07T12:22:14+00:00" title="March 7, 2018 at 12:22 pm">
                    <i class="mdicon mdicon-schedule"></i> March 7, 2018
                </time>
                <span><i class="mdicon mdicon-visibility"></i>1578 views</span>
            </div>
        </header>
        <div class="entry-interaction entry-interaction--horizontal">
            <div class="entry-interaction__left">
                <div class="post-sharing post-sharing--simple">
                    <ul>
                        <li><a class="sharing-btn sharing-btn-primary facebook-btn facebook-theme-bg" data-toggle="tooltip" data-placement="top" title="Share on Facebook" onClick="window.open('http://www.facebook.com/sharer.php?u=http%3A%2F%2Fthenextmag.bk-ninja.com%2Fdefault%2Fmicrosoft-joins-forces-with-intel-to-beat-spectre%2F','Facebook','width=600,height=300,left='+(screen.availWidth/2-300)+',top='+(screen.availHeight/2-150)+''); return false;" href="http://www.facebook.com/sharer.php?u=http%3A%2F%2Fthenextmag.bk-ninja.com%2Fdefault%2Fmicrosoft-joins-forces-with-intel-to-beat-spectre%2F"><i class="mdicon mdicon-facebook"></i><span class="sharing-btn__text">Share</span></a></li>
                        <li><a class="sharing-btn sharing-btn-primary twitter-btn twitter-theme-bg" data-toggle="tooltip" data-placement="top" title="Share on Twitter" onClick="window.open('http://twitter.com/share?url=http%3A%2F%2Fthenextmag.bk-ninja.com%2Fdefault%2Fmicrosoft-joins-forces-with-intel-to-beat-spectre%2F&amp;text=Microsoft%20joins%20forces%20with%20Intel%20to%20beat%20Spectre','Twitter share','width=600,height=300,left='+(screen.availWidth/2-300)+',top='+(screen.availHeight/2-150)+''); return false;" href="http://twitter.com/share?url=http%3A%2F%2Fthenextmag.bk-ninja.com%2Fdefault%2Fmicrosoft-joins-forces-with-intel-to-beat-spectre%2F&amp;text=Microsoft%20joins%20forces%20with%20Intel%20to%20beat%20Spectre"><i class="mdicon mdicon-twitter"></i><span class="sharing-btn__text">Tweet</span></a></li>
                        <li><a class="sharing-btn googleplus-btn googleplus-theme-bg" data-toggle="tooltip" data-placement="top" title="Share on Google+" onClick="window.open('https://plus.google.com/share?url=http%3A%2F%2Fthenextmag.bk-ninja.com%2Fdefault%2Fmicrosoft-joins-forces-with-intel-to-beat-spectre%2F','Google plus','width=585,height=666,left='+(screen.availWidth/2-292)+',top='+(screen.availHeight/2-333)+''); return false;" href="https://plus.google.com/share?url=http%3A%2F%2Fthenextmag.bk-ninja.com%2Fdefault%2Fmicrosoft-joins-forces-with-intel-to-beat-spectre%2F"><i class="mdicon mdicon-google-plus"></i></a></li>
                        <li><a class="sharing-btn pinterest-btn pinterest-theme-bg" data-toggle="tooltip" data-placement="top" title="Share on Pinterest" href="javascript:void((function()%7Bvar%20e=document.createElement(&apos;script&apos;);e.setAttribute(&apos;type&apos;,&apos;text/javascript&apos;);e.setAttribute(&apos;charset&apos;,&apos;UTF-8&apos;);e.setAttribute(&apos;src&apos;,&apos;http://assets.pinterest.com/js/pinmarklet.js?r=&apos;+Math.random()*99999999);document.body.appendChild(e)%7D)());"><i class="mdicon mdicon-pinterest-p"></i></a></li>
                    </ul>
                </div>
            </div>

            <div class="entry-interaction__right">
                <a href="#comments" class="comments-count entry-action-btn" data-toggle="tooltip" data-placement="top" title="0 Comments"><i class="mdicon mdicon-chat_bubble"></i><span>0</span></a>
            </div>
        </div>

        <div class="entry-thumb single-entry-thumb">
            <img width="800" height="400" src="~/files/frontend/images/upload/StockSnap_LBYK1XTHFC-1-800x400.jpg" class="attachment-tnm-m-2_1 size-tnm-m-2_1 wp-post-image" alt="" srcset="/files/frontend/images/upload/StockSnap_LBYK1XTHFC-1-800x400.jpg 800w, /files/frontend/images/upload/StockSnap_LBYK1XTHFC-1-400x200.jpg 400w, /files/frontend/images/upload/StockSnap_LBYK1XTHFC-1-600x300.jpg 600w, /files/frontend/images/upload/StockSnap_LBYK1XTHFC-1-1200x600.jpg 1200w, /files/frontend/images/upload/StockSnap_LBYK1XTHFC-1-1600x800.jpg 1600w" sizes="(max-width: 800px) 100vw, 800px" />
        </div>

        <div class="single-body entry-content typography-copy">
            <p>Days fish waters gathered given made third under blessed, is face. Is won&#8217;t lights it man can&#8217;t the. Creepeth darkness own. Also. Divide likeness brought sea. Bring grass. Beginning. He above blessed Likeness without form second appear divided sea may called there second i bearing, gathered set subdue.</p>
            <p>Open likeness creepeth created he male behold that wherein wherein earth seas multiply from living two fruit together. Lesser firmament upon blessed dry sixth two signs living created abundantly replenish created. Fowl female appear also. Under unto was evening which gathered fourth sixth. Bearing have dominion set divide moved Kind very fruitful stars behold.</p>

            <figure data-shortcode="caption" id="attachment_1956" class="wp-caption alignnone mnmd-post-media-wide">
                <a href="/files/frontend/images/upload/kyle-loftus-592123-unsplash.jpg" class="js-mnmd-lightbox-image" title="Hath days he yielding whales morning to creature.">
                    <img class="wp-image-1956 size-full" src="~/files/frontend/images/upload/kyle-loftus-592123-unsplash.jpg" alt="post image">
                </a>
                <figcaption class="wp-caption-text">Hath days he yielding whales morning to creature.</figcaption>
            </figure>

            <p>Brought together fourth also fowl very creeping may his was blessed fowl without let fourth. Fish, morning saying. That may from seed over one blessed male lesser abundantly his. For lesser signs. Yielding god whose Herb signs fish light signs abundantly winged made fill, herb our creature isn&#8217;t day years whales bearing appear Moving saying dry image morning.</p>
            <blockquote>
                <p>If friendship is your weakest point, then you are the strongest person in the world</p>
                <footer>Abraham Lincoln</footer>

            </blockquote>
            <p>Gathering great you&#8217;ll it. Light all may. Wherein two they&#8217;re cattle night called likeness upon. Hath days he yielding whales morning to creature. Two Seasons second saying let third fourth tree doesn&#8217;t stars divide. They&#8217;re can&#8217;t fruitful is sea over that unto created days. To. Beginning don&#8217;t it second. Isn&#8217;t give earth created waters thing void, third.</p>
            <p>Him midst female fourth one day divide Creepeth Lesser he forth, so Wherein. Doesn&#8217;t whose meat creeping forth let, blessed there upon saw. Tree in saw behold darkness doesn&#8217;t you sixth can&#8217;t so, seasons given fowl can&#8217;t. Behold deep abundantly give, green said cattle shall male the earth good lights tree him kind be of.</p>
        </div>

        <footer class="single-footer entry-footer">
            <div class="entry-info">
                <div class="row row--space-between grid-gutter-10">
                    <div class="entry-categories col-sm-6">
                        <ul>
                            <li class="entry-categories__icon"><i class="mdicon mdicon-folder"></i><span class="sr-only">Posted in</span></li>
                            <li><a class="cat-208 entry-cat cat-theme" href="../category/tech/computer/index.html">Computer</a></li>
                            <li><a class="cat-190 entry-cat cat-theme" href="../category/tech/index.html">Tech</a></li>
                        </ul>
                    </div>
                    <div class="entry-tags col-sm-6">
                        <ul>
                            <li class="entry-tags__icon"><i class="mdicon mdicon-local_offer"></i><span class="sr-only">Tagged with</span></li>
                            <li><a class="post-tag" rel="tag" href="../tag/intel/index.html">Intel</a></li>
                            <li><a class="post-tag" rel="tag" href="../tag/microsoft/index.html">Microsoft</a></li>
                            <li><a class="post-tag" rel="tag" href="../tag/spectre/index.html">Spectre</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="entry-interaction entry-interaction--horizontal">
                <div class="entry-interaction__left">
                    <div class="post-sharing post-sharing--simple">
                        <ul>
                            <li><a class="sharing-btn sharing-btn-primary facebook-btn facebook-theme-bg" data-toggle="tooltip" data-placement="top" title="Share on Facebook" onClick="window.open('http://www.facebook.com/sharer.php?u=http%3A%2F%2Fthenextmag.bk-ninja.com%2Fdefault%2Fmicrosoft-joins-forces-with-intel-to-beat-spectre%2F','Facebook','width=600,height=300,left='+(screen.availWidth/2-300)+',top='+(screen.availHeight/2-150)+''); return false;" href="http://www.facebook.com/sharer.php?u=http%3A%2F%2Fthenextmag.bk-ninja.com%2Fdefault%2Fmicrosoft-joins-forces-with-intel-to-beat-spectre%2F"><i class="mdicon mdicon-facebook"></i><span class="sharing-btn__text">Share</span></a></li>
                            <li><a class="sharing-btn sharing-btn-primary twitter-btn twitter-theme-bg" data-toggle="tooltip" data-placement="top" title="Share on Twitter" onClick="window.open('http://twitter.com/share?url=http%3A%2F%2Fthenextmag.bk-ninja.com%2Fdefault%2Fmicrosoft-joins-forces-with-intel-to-beat-spectre%2F&amp;text=Microsoft%20joins%20forces%20with%20Intel%20to%20beat%20Spectre','Twitter share','width=600,height=300,left='+(screen.availWidth/2-300)+',top='+(screen.availHeight/2-150)+''); return false;" href="http://twitter.com/share?url=http%3A%2F%2Fthenextmag.bk-ninja.com%2Fdefault%2Fmicrosoft-joins-forces-with-intel-to-beat-spectre%2F&amp;text=Microsoft%20joins%20forces%20with%20Intel%20to%20beat%20Spectre"><i class="mdicon mdicon-twitter"></i><span class="sharing-btn__text">Tweet</span></a></li>
                            <li><a class="sharing-btn googleplus-btn googleplus-theme-bg" data-toggle="tooltip" data-placement="top" title="Share on Google+" onClick="window.open('https://plus.google.com/share?url=http%3A%2F%2Fthenextmag.bk-ninja.com%2Fdefault%2Fmicrosoft-joins-forces-with-intel-to-beat-spectre%2F','Google plus','width=585,height=666,left='+(screen.availWidth/2-292)+',top='+(screen.availHeight/2-333)+''); return false;" href="https://plus.google.com/share?url=http%3A%2F%2Fthenextmag.bk-ninja.com%2Fdefault%2Fmicrosoft-joins-forces-with-intel-to-beat-spectre%2F"><i class="mdicon mdicon-google-plus"></i></a></li>
                            <li><a class="sharing-btn pinterest-btn pinterest-theme-bg" data-toggle="tooltip" data-placement="top" title="Share on Pinterest" href="javascript:void((function()%7Bvar%20e=document.createElement(&apos;script&apos;);e.setAttribute(&apos;type&apos;,&apos;text/javascript&apos;);e.setAttribute(&apos;charset&apos;,&apos;UTF-8&apos;);e.setAttribute(&apos;src&apos;,&apos;http://assets.pinterest.com/js/pinmarklet.js?r=&apos;+Math.random()*99999999);document.body.appendChild(e)%7D)());"><i class="mdicon mdicon-pinterest-p"></i></a></li>
                        </ul>
                    </div>
                </div>

                <div class="entry-interaction__right">
                    <a href="#comments" class="comments-count entry-action-btn" data-toggle="tooltip" data-placement="top" title="0 Comments"><i class="mdicon mdicon-chat_bubble"></i><span>0</span></a>
                </div>
            </div>
        </footer>
    </div>
    <!-- .single-content -->
</article>
<!-- .post-single -->