
@{
    Layout = null;
}

<div class="mnmd-block mnmd-block--fullwidth mnmd-block--contiguous single-billboard single-billboard--sm">
    <div class="background-img background-img--scrim-bottom hidden-xs hidden-sm" style="background-image: url('@ViewBag.Photo');"></div>
    <div class="background-img hidden-md hidden-lg" style="background-image: url('@ViewBag.Photo');"></div>
</div>