
@{
    Layout = null;
}

    <div class="same-category-posts single-entry-section">
        <div class="block-heading ">
            <h4 class="block-heading__title">More in <a href="../category/news/nation/index.html" class="cat-203 cat-theme">Nation</a></h4>
        </div>
        <div class="posts-list">
            <div class="posts-list list-space-xl">
                <div class="list-item">
                    <article class="post post--horizontal post--horizontal-sm">
                        <div class="post__thumb ">
                            <a href="../this-city-has-the-hardest-working-people-in-the-united-states/index.html"><img width="400" height="300" src="~/files/frontend/images/upload/pexels-photo-109919-1-400x300.jpg" class="attachment-tnm-xs-4_3 size-tnm-xs-4_3 wp-post-image" alt="" srcset="/files/frontend/images/upload/pexels-photo-109919-1-400x300.jpg 400w, /files/frontend/images/upload/pexels-photo-109919-1-180x135.jpg 180w, /files/frontend/images/upload/pexels-photo-109919-1-600x450.jpg 600w, /files/frontend/images/upload/pexels-photo-109919-1-800x600.jpg 800w, /files/frontend/images/upload/pexels-photo-109919-1-1200x900.jpg 1200w, /files/frontend/images/upload/pexels-photo-109919-1-1600x1200.jpg 1600w" sizes="(max-width: 400px) 100vw, 400px" /></a>
                            <!-- close a tag -->
                        </div>
                        <div class="post__text ">
                            <h3 class="post__title typescale-2"><a href="../this-city-has-the-hardest-working-people-in-the-united-states/index.html">This city has the hardest working people in the United States</a></h3>
                            <div class="post__meta">
                                <time class="time published" datetime="2018-03-07T08:56:07+00:00" title="March 7, 2018 at 8:56 am"><i class="mdicon mdicon-schedule"></i>March 7, 2018</time><span><a title="0 Comments" href="../this-city-has-the-hardest-working-people-in-the-united-states/index.html"><i class="mdicon mdicon-chat_bubble_outline"></i>0</a></span>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
        <nav class="mnmd-pagination text-center"><a href="../category/news/nation/index.html" class="btn btn-default">View all Nation<i class="mdicon mdicon-arrow_forward mdicon--last"></i></a></nav>
    </div>