
@{
    Layout = null;
}

    <div class="same-category-posts single-entry-section">
        <div class="block-heading ">
            <h4 class="block-heading__title">More in <a href="../category/sports/index.html" class="cat-195 cat-theme">Sports</a></h4>
        </div>
        <div class="posts-list">
            <div class="posts-list list-space-xl">
                <div class="list-item">
                    <article class="post post--horizontal post--horizontal-sm">
                        <div class="post__thumb ">
                            <a href="../cycling-poels-closes-on-paris-nice-lead-as-sanchez-takes-yellow/index.html"><img width="400" height="300" src="/files/frontend/images/upload/pexels-photo-12838-400x300.jpg" class="attachment-tnm-xs-4_3 size-tnm-xs-4_3 wp-post-image" alt="" srcset="/files/frontend/images/upload/pexels-photo-12838-400x300.jpg 400w, /files/frontend/images/upload/pexels-photo-12838-180x135.jpg 180w, /files/frontend/images/upload/pexels-photo-12838-600x450.jpg 600w, /files/frontend/images/upload/pexels-photo-12838-800x600.jpg 800w, /files/frontend/images/upload/pexels-photo-12838-1200x900.jpg 1200w, /files/frontend/images/upload/pexels-photo-12838-1600x1200.jpg 1600w" sizes="(max-width: 400px) 100vw, 400px" /></a>
                            <!-- close a tag -->
                        </div>
                        <div class="post__text ">
                            <h3 class="post__title typescale-2"><a href="../cycling-poels-closes-on-paris-nice-lead-as-sanchez-takes-yellow/index.html">Cycling: Poels closes on Paris-Nice lead as Sanchez takes yellow</a></h3>
                            <div class="post__meta">
                                <time class="time published" datetime="2018-02-08T07:47:29+00:00" title="February 8, 2018 at 7:47 am"><i class="mdicon mdicon-schedule"></i>February 8, 2018</time><span><a title="0 Comments" href="../cycling-poels-closes-on-paris-nice-lead-as-sanchez-takes-yellow/index.html"><i class="mdicon mdicon-chat_bubble_outline"></i>0</a></span>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="list-item">
                    <article class="post post--horizontal post--horizontal-sm">
                        <div class="post__thumb ">
                            <a href="../ski-holidays-what-you-need-to-pack-this-item-will-surprise-you/index.html"><img width="400" height="300" src="/files/frontend/images/upload/freerider-skiing-ski-sports-47356-400x300.jpg" class="attachment-tnm-xs-4_3 size-tnm-xs-4_3 wp-post-image" alt="" srcset="/files/frontend/images/upload/freerider-skiing-ski-sports-47356-400x300.jpg 400w, /files/frontend/images/upload/freerider-skiing-ski-sports-47356-180x135.jpg 180w, /files/frontend/images/upload/freerider-skiing-ski-sports-47356-600x450.jpg 600w, /files/frontend/images/upload/freerider-skiing-ski-sports-47356-800x600.jpg 800w, /files/frontend/images/upload/freerider-skiing-ski-sports-47356-1200x900.jpg 1200w, /files/frontend/images/upload/freerider-skiing-ski-sports-47356-1600x1200.jpg 1600w" sizes="(max-width: 400px) 100vw, 400px" /></a>
                            <!-- close a tag -->
                        </div>
                        <div class="post__text ">
                            <h3 class="post__title typescale-2"><a href="../ski-holidays-what-you-need-to-pack-this-item-will-surprise-you/index.html">Ski holidays: What you need to pack &#8211; This item will surprise you</a></h3>
                            <div class="post__meta">
                                <time class="time published" datetime="2018-02-08T07:06:36+00:00" title="February 8, 2018 at 7:06 am"><i class="mdicon mdicon-schedule"></i>February 8, 2018</time><span><a title="0 Comments" href="../ski-holidays-what-you-need-to-pack-this-item-will-surprise-you/index.html"><i class="mdicon mdicon-chat_bubble_outline"></i>0</a></span>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="list-item">
                    <article class="post post--horizontal post--horizontal-sm">
                        <div class="post__thumb ">
                            <a href="../motocross-elite-head-to-norfolk-for-lyngs-annual-extravaganza/index.html"><img width="400" height="300" src="/files/frontend/images/upload/pexels-photo-564096-400x300.jpg" class="attachment-tnm-xs-4_3 size-tnm-xs-4_3 wp-post-image" alt="" srcset="/files/frontend/images/upload/pexels-photo-564096-400x300.jpg 400w, /files/frontend/images/upload/pexels-photo-564096-180x135.jpg 180w, /files/frontend/images/upload/pexels-photo-564096-600x450.jpg 600w, /files/frontend/images/upload/pexels-photo-564096-800x600.jpg 800w, /files/frontend/images/upload/pexels-photo-564096-1200x900.jpg 1200w, /files/frontend/images/upload/pexels-photo-564096-1600x1200.jpg 1600w" sizes="(max-width: 400px) 100vw, 400px" /></a>
                            <!-- close a tag -->
                        </div>
                        <div class="post__text ">
                            <h3 class="post__title typescale-2"><a href="../motocross-elite-head-to-norfolk-for-lyngs-annual-extravaganza/index.html">Motocross elite head to Norfolk for Lyng’s annual extravaganza</a></h3>
                            <div class="post__meta">
                                <time class="time published" datetime="2018-02-06T07:58:42+00:00" title="February 6, 2018 at 7:58 am"><i class="mdicon mdicon-schedule"></i>February 6, 2018</time><span><a title="0 Comments" href="../motocross-elite-head-to-norfolk-for-lyngs-annual-extravaganza/index.html"><i class="mdicon mdicon-chat_bubble_outline"></i>0</a></span>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
        <nav class="mnmd-pagination text-center"><a href="../category/sports/index.html" class="btn btn-default">View all Sports<i class="mdicon mdicon-arrow_forward mdicon--last"></i></a></nav>
    </div>