<div class="mnmd-block mnmd-block--fullwidth mnmd-block--contiguous page-heading page-heading--has-background" style="margin-bottom:20px; margin-top:-15px !important">
    <div class="container">
        <h2 class="page-heading__title">@ViewBag.lblBaiVietYeuThich</h2>
        <div class="page-heading__subtitle">@ViewBag.lblSoBaiViet: <span>@ViewBag.ListSize</span> </div>
    </div>
</div>