
@{
    Layout = null;
}
@*
    <div id="tnm_featured_with_list_horizontal-5d773d1388864" class="mnmd-block mnmd-block--fullwidth mnmd-featured-with-list mnmd-featured-with-list--horizontal-list mnmd-block--contiguous">
        <div class="mnmd-featured-with-list__wrapper mnmd-block__inner js-overlay-bg">
            <div class="main-background background-img hidden-xs hidden-sm" style="background-image: url('/files/frontend/images/upload/5k-people-wallpaper-1-2000x1125.jpg')"></div>
            <div class="mnmd-featured-with-list__inner">
                <article class="main-post post">
                    <div class="main-post__inner">
                        <div class="background-img background-img--darkened hidden-md hidden-lg" style="background-image: url('/files/frontend/images/upload/5k-people-wallpaper-1-600x450.jpg')"></div>
                        <div class="post__text inverse-text text-center max-width-md">
                            <a class="cat-203 post__cat post__cat--bg cat-theme-bg" href="category/news/nation/index.html">Nation</a>
                            <h3 class="post__title typescale-6"><a href="whos-afraid-of-trump-not-enough-republicans-at-least-for-now/index.html">Who’s afraid of Trump? Not enough Republicans — at least for now</a></h3>
                            <div class="post__meta"><span class="entry-author">By <a href="author/gappingworld/index.html" class="entry-author__name">gappingworld</a></span></div>
                        </div>
                    </div>
                </article>
                <div class="sub-posts js-overlay-bg-sub-area">
                    <div class="js-overlay-bg-sub sub-background background-img blurred hidden-xs hidden-sm" style="background-image: url('/files/frontend/images/upload/5k-people-wallpaper-1-2000x1125.jpg')"></div>
                    <div class="sub-posts__inner">
                        <ul class="posts-list list-space-md list-seperated list-unstyled">
                            <li>
                                <article class="post post--horizontal post--horizontal-middle post--horizontal-xs">
                                    <div class="post__thumb post__thumb--circle">
                                        <a href="asian-stocks-pull-back-on-u-s-tech-declines-eurozone-worries/index.html"><img width="180" height="180" src="/files/frontend/images/upload/negative-space-checking-timetable-train-station-1-180x180.jpg" class="attachment-tnm-xxs-1_1 size-tnm-xxs-1_1 wp-post-image" alt="" srcset="/files/frontend/images/upload/negative-space-checking-timetable-train-station-1-180x180.jpg 180w, /files/frontend/images/upload/negative-space-checking-timetable-train-station-1-150x150.jpg 150w, /files/frontend/images/upload/negative-space-checking-timetable-train-station-1-400x400.jpg 400w, /files/frontend/images/upload/negative-space-checking-timetable-train-station-1-600x600.jpg 600w" sizes="(max-width: 180px) 100vw, 180px" /></a>
                                        <!-- close a tag -->
                                    </div>
                                    <div class="post__text inverse-text">
                                        <a class="cat-192 post__cat post__cat--bg cat-theme-bg" href="category/business/index.html">Business</a>
                                        <h3 class="post__title typescale-1"><a href="asian-stocks-pull-back-on-u-s-tech-declines-eurozone-worries/index.html">Asian stocks pull back on U.S. tech declines, eurozone worries</a></h3>

                                    </div>
                                </article>
                            </li>
                            <!-- end small item -->
                            <li>
                                <article class="post post--horizontal post--horizontal-middle post--horizontal-xs">
                                    <div class="post__thumb post__thumb--circle">
                                        <a href="apple-watch-what-does-the-future-hold/index.html"><img width="180" height="180" src="/files/frontend/images/upload/photo-1434494878577-86c23bcb06b9-1-180x180.jpg" class="attachment-tnm-xxs-1_1 size-tnm-xxs-1_1 wp-post-image" alt="" srcset="/files/frontend/images/upload/photo-1434494878577-86c23bcb06b9-1-180x180.jpg 180w, /files/frontend/images/upload/photo-1434494878577-86c23bcb06b9-1-150x150.jpg 150w, /files/frontend/images/upload/photo-1434494878577-86c23bcb06b9-1-400x400.jpg 400w, /files/frontend/images/upload/photo-1434494878577-86c23bcb06b9-1-600x600.jpg 600w" sizes="(max-width: 180px) 100vw, 180px" /></a>
                                        <!-- close a tag -->
                                    </div>
                                    <div class="post__text inverse-text">
                                        <a class="cat-190 post__cat post__cat--bg cat-theme-bg" href="category/tech/index.html">Tech</a>
                                        <h3 class="post__title typescale-1"><a href="apple-watch-what-does-the-future-hold/index.html">Apple Watch: What does the future hold?</a></h3>

                                    </div>
                                </article>
                            </li>
                            <!-- end small item -->
                            <li>
                                <article class="post post--horizontal post--horizontal-middle post--horizontal-xs">
                                    <div class="post__thumb post__thumb--circle">
                                        <a href="linkin-parks-mike-shinoda-says-no-way-to-a-hologram-chester-bennington/index.html"><img width="180" height="180" src="/files/frontend/images/upload/pexels-photo-756242-1-180x180.jpg" class="attachment-tnm-xxs-1_1 size-tnm-xxs-1_1 wp-post-image" alt="" srcset="/files/frontend/images/upload/pexels-photo-756242-1-180x180.jpg 180w, /files/frontend/images/upload/pexels-photo-756242-1-150x150.jpg 150w, /files/frontend/images/upload/pexels-photo-756242-1-400x400.jpg 400w, /files/frontend/images/upload/pexels-photo-756242-1-600x600.jpg 600w" sizes="(max-width: 180px) 100vw, 180px" /></a>
                                        <!-- close a tag -->
                                    </div>
                                    <div class="post__text inverse-text">
                                        <a class="cat-191 post__cat post__cat--bg cat-theme-bg" href="category/life/index.html">Life</a>
                                        <h3 class="post__title typescale-1"><a href="linkin-parks-mike-shinoda-says-no-way-to-a-hologram-chester-bennington/index.html">Linkin Park&#8217;s Mike Shinoda says &#8216;no way&#8217; to a hologram Chester Bennington</a></h3>

                                    </div>
                                </article>
                            </li>
                            <!-- end small item -->
                        </ul>
                        <!-- end small item list-->
                    </div>
                </div>
                <!-- .sub-posts -->
            </div>
            <!-- .mnmd-featured-with-list__inner -->
        </div>
        <!-- .container -->
    </div>
    <!-- .mnmd-block -->

*@
<style>
    #novaticHomeSlider {
        background: unset !important;
        color: black !important;
        font-size: 0.9em !important;
        font-weight: bold !important;
    }

    @@media (max-width: 767px) {
        #novaticHomeSliderMobile {
            background: unset !important;
            color: black !important;
            font-size: 0.9em !important;
            font-weight: bold !important;
            display: unset !important;
        }
    }
</style>
<div id="tnm_news_ticker-5d773d13a6d40" style="margin-bottom: 15px;" class="mnmd-block mnmd-block--fullwidth mnmd-news-ticker mnmd-block--contiguous mnmd-news-ticker--fw novaticSlider">
    <div class="container">
        <div class="mnmd-news-ticker__inner">
            @*<div class="mnmd-news-ticker__heading hidden-xs"><span>Xu hướng theo dõi</span></div>*@
            <div class="mnmd-news-ticker__content js-mnmd-news-ticker">
                <ul>
                    @*<li>
                            <div class="post">
                                @{
                                    foreach (var obj in ViewBag.TagListSlide)
                                    {
                                        <a id="novaticHomeSlider" class="cat-190 post__cat post__cat--bg cat-theme-bg hidden-xs" href="/tag/@obj.Slug">@obj.Name</a>
                                    }
                                }
                            </div>
                        </li>*@

                    @{
                        for (int i = 0; i < 18; i = i + 6)
                        {
                            <li>
                                <div class="post">
                                    @{
                                        int j = 0;
                                        foreach (var obj in ViewBag.TopicListSlide)
                                        {
                                            j++;
                                            if (j > i && j < i + 7)
                                            {
                                                <a id="novaticHomeSlider" class="cat-190 post__cat post__cat--bg cat-theme-bg" href="/topic/@obj.Slug">@obj.Name</a>
                                            }
                                        }
                                    }
                                </div>
                            </li>
                        }
                    }

                    @*<li>
                            <div class="post">
                                <a class="cat-190 post__cat post__cat--bg cat-theme-bg hidden-xs" href="category/tech/index.html">Tech</a>
                                <h3 class="post__title typescale-1"><a href="apple-watch-what-does-the-future-hold/index.html">Apple Watch: What does the future hold?</a></h3>
                            </div>
                        </li>*@
                    <!-- end small item -->
                    @*<li>
                            <div class="post">
                                <a class="cat-207 post__cat post__cat--bg cat-theme-bg hidden-xs" href="category/tech/mobile/index.html">Mobile</a>
                                <h3 class="post__title typescale-1"><a href="review-nokia-retunes-3310-for-a-new-generation/index.html">Review: Nokia retunes 3310 for a new generation</a></h3>
                            </div>
                        </li>*@
                    <!-- end small item -->
                    @*<li>
                            <div class="post">
                                <a class="cat-192 post__cat post__cat--bg cat-theme-bg hidden-xs" href="category/business/index.html">Business</a>
                                <h3 class="post__title typescale-1"><a href="asian-stocks-pull-back-on-u-s-tech-declines-eurozone-worries/index.html">Asian stocks pull back on U.S. tech declines, eurozone worries</a></h3>
                            </div>
                        </li>*@
                    <!-- end small item -->
                    @*<li>
                            <div class="post">
                                <a class="cat-190 post__cat post__cat--bg cat-theme-bg hidden-xs" href="category/tech/index.html">Tech</a>
                                <h3 class="post__title typescale-1"><a href="best-4k-camera-drones-to-create-stunning-aerial-film/index.html">Best 4K Camera Drones To Create Stunning Aerial Film</a></h3>
                            </div>
                        </li>*@
                    <!-- end small item -->
                </ul>
            </div>
            <!-- End .mnmd-news-ticker__content -->
            <div class="mnmd-news-ticker__control">
                <button class="mnmd-news-ticker__prev"><i class="mdicon mdicon-expand_less"></i></button>
                <button class="mnmd-news-ticker__next"><i class="mdicon mdicon-expand_more"></i></button>
            </div>
        </div>
    </div>
    <!-- End Container -->
</div>