
@{
    Layout = null;
}

<!-- .mnmd-block -->
<div id="tnm_countdown-5d773d13c3bb6" class="mnmd-block mnmd-block--fullwidth mnmd-countdown-block">
    <div class="container">
        <div class="mnmd-block__inner inverse-text">
            <div class="background-img gradient-5" style="
                        background: #43c6ac;
                        background: -webkit-linear-gradient(225deg, #43c6ac 0, #191654 100%);
                        background: linear-gradient(225deg, #43c6ac 0, #191654 100%);
                    ">
                <div class="background-svg-pattern"></div>
            </div>
            <div class="row row--space-between row--flex row--vertical-center">
                <div class="col-xs-12 col-md-6">
                    <div class="mnmd-countdown">
                        <div class="mnmd-countdown__inner meta-font js-countdown" data-countdown="2021-03-10"></div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-6 text-center">
                    <h3 class="typescale-4"><a href="#" class="link">iPhone XXX launch day</a></h3>
                    <p class="text-secondary">Brace yourself, the sexiest iPhone ever is coming!</p>
                    <br /><a href="https://themeforest.net/user/gappingworld/portfolio" class="btn btn-primary">Learn More</a>
                </div>
            </div>
            <a href="https://themeforest.net/user/gappingworld/portfolio" class="link-overlay"></a>
        </div>
    </div>
    <!-- .container -->
</div>