<div class="mnmd-block mnmd-block--fullwidth mnmd-block--contiguous page-heading page-heading--has-background" style="margin-bottom:20px">
    <div class="container">
        <h2 class="page-heading__title">Bài viết đã lưu</h2>
        <!-- <div class="page-heading__subtitle">There are <span>@ViewBag.ListSize</span> results</div> -->
    </div>
</div>