
@{
    Layout = null;
}

    <div id="bk_widget_most_commented_posts-7" class="widget mnmd-widget">
        <div class="mnmd-widget-most-commented">
            <div class="widget__title block-heading block-heading--line">
                <h4 class="widget__title-text">Most <span>commented</span></h4>
            </div>
            <ol class="posts-list list-space-md list-seperated list-unstyled">
                <li>
                    <article class="post">
                        <div class="media">
                            <div class="media-left media-middle"><a href="apple-watch-what-does-the-future-hold/index.html" title="5 Comments" class="comments-count-box">5</a></div>
                            <div class="media-body media-middle">
                                <h3 class="post__title typescale-0"><a href="apple-watch-what-does-the-future-hold/index.html">Apple Watch: What does the future hold?</a></h3>
                                <div class="post__meta"><a class="cat-190 post__cat post__cat--bg cat-theme-bg" href="category/tech/index.html">Tech</a><span><a title="5 Comments" href="apple-watch-what-does-the-future-hold/index.html"><i class="mdicon mdicon-chat_bubble_outline"></i>5 Comments</a></span></div>
                            </div>
                            <!--End media-body-->
                        </div>
                        <!--End media-->
                    </article>
                </li>
                <li>
                    <article class="post">
                        <div class="media">
                            <div class="media-left media-middle"><a href="review-nokia-retunes-3310-for-a-new-generation/index.html" title="3 Comments" class="comments-count-box">3</a></div>
                            <div class="media-body media-middle">
                                <h3 class="post__title typescale-0"><a href="review-nokia-retunes-3310-for-a-new-generation/index.html">Review: Nokia retunes 3310 for a new generation</a></h3>
                                <div class="post__meta"><a class="cat-207 post__cat post__cat--bg cat-theme-bg" href="category/tech/mobile/index.html">Mobile</a><span><a title="3 Comments" href="review-nokia-retunes-3310-for-a-new-generation/index.html"><i class="mdicon mdicon-chat_bubble_outline"></i>3 Comments</a></span></div>
                            </div>
                            <!--End media-body-->
                        </div>
                        <!--End media-->
                    </article>
                </li>
                <li>
                    <article class="post">
                        <div class="media">
                            <div class="media-left media-middle"><a href="asian-stocks-pull-back-on-u-s-tech-declines-eurozone-worries/index.html" title="3 Comments" class="comments-count-box">3</a></div>
                            <div class="media-body media-middle">
                                <h3 class="post__title typescale-0"><a href="asian-stocks-pull-back-on-u-s-tech-declines-eurozone-worries/index.html">Asian stocks pull back on U.S. tech declines, eurozone worries</a></h3>
                                <div class="post__meta"><a class="cat-192 post__cat post__cat--bg cat-theme-bg" href="category/business/index.html">Business</a><span><a title="3 Comments" href="asian-stocks-pull-back-on-u-s-tech-declines-eurozone-worries/index.html"><i class="mdicon mdicon-chat_bubble_outline"></i>3 Comments</a></span></div>
                            </div>
                            <!--End media-body-->
                        </div>
                        <!--End media-->
                    </article>
                </li>
                <li>
                    <article class="post">
                        <div class="media">
                            <div class="media-left media-middle"><a href="best-4k-camera-drones-to-create-stunning-aerial-film/index.html" title="2 Comments" class="comments-count-box">2</a></div>
                            <div class="media-body media-middle">
                                <h3 class="post__title typescale-0"><a href="best-4k-camera-drones-to-create-stunning-aerial-film/index.html">Best 4K Camera Drones To Create Stunning Aerial Film</a></h3>
                                <div class="post__meta"><a class="cat-190 post__cat post__cat--bg cat-theme-bg" href="category/tech/index.html">Tech</a><span><a title="2 Comments" href="best-4k-camera-drones-to-create-stunning-aerial-film/index.html"><i class="mdicon mdicon-chat_bubble_outline"></i>2 Comments</a></span></div>
                            </div>
                            <!--End media-body-->
                        </div>
                        <!--End media-->
                    </article>
                </li>
            </ol>
        </div>
        <!-- End Widget Module-->
    </div>