<div class="mnmd-block mnmd-block--fullwidth mnmd-block--contiguous page-heading page-heading--has-background" style="margin-bottom:20px">
    <div class="container">
        <h2 class="page-heading__title">Keyword: @ViewBag.Keyword</h2>
        <div class="page-heading__subtitle">@ViewBag.lblTongCo <span>@ViewBag.ListSize</span> @ViewBag.lblKetQua</div>
    </div>
</div>