<div class="mnmd-block mnmd-block--fullwidth mnmd-block--contiguous page-heading page-heading--has-background" style="margin-bottom:20px">
    <div class="container">
        <h2 class="page-heading__title">Tag: @ViewBag.TagName</h2>
        <div class="page-heading__subtitle">@ViewBag.lblTongCo @ViewBag.ListSize @ViewBag.lblKetQua</div>
    </div>
</div>