
@{
    Layout = null;
}

<div class="theiaStickySidebar">

    <!-- đăng ký mail -->
    <div id="bk_widget_subscribe-2" class="widget mnmd-widget">
        <div class="mnmd-widget widget widget-subscribe widget-subscribe--stack-bottom">
            <div class="widget-subscribe__inner">
                <div class="subscribe-form subscribe-form--center">
                    <script>
                        (function () {
                            if (!window.mc4wp) {
                                window.mc4wp = {
                                    listeners: [],
                                    forms: {
                                        on: function (event, callback) {
                                            window.mc4wp.listeners.push({
                                                event: event,
                                                callback: callback
                                            });
                                        }
                                    }
                                }
                            }
                        })();
                    </script>
                    <!-- MailChimp for WordPress v4.2.4 - https://wordpress.org/plugins/mailchimp-for-wp/ -->
                    <form id="mc4wp-form-1" class="mc4wp-form mc4wp-form-1927" method="post" data-id="1927" data-name="Sidebar form">
                        <div class="mc4wp-form-fields">
                            <h3>Join our newsletter!</h3>
                            <p>Enter your email to receive our newsletter.</p>
                            <p>
                                <input type="email" name="EMAIL" placeholder="Your email address" required="">
                            </p>
                            <p>
                                <input type="submit" value="Subscribe" class="btn btn-primary">
                            </p>
                            <small>Don't worry, we don't spam</small>
                        </div>
                        <label style="display: none !important;">
                            Leave this field empty if you're human:
                            <input type="text" name="_mc4wp_honeypot" value="" tabindex="-1" autocomplete="off" />
                        </label>
                        <input type="hidden" name="_mc4wp_timestamp" value="1568095508" />
                        <input type="hidden" name="_mc4wp_form_id" value="1927" />
                        <input type="hidden" name="_mc4wp_form_element_id" value="mc4wp-form-1" />
                        <div class="mc4wp-response"></div>
                    </form>
                    <!-- / MailChimp for WordPress Plugin -->
                </div>
                <!-- .subscribe-form -->
            </div>
            <!-- .widget-subscribe__inner -->
        </div>
        <!-- .widget -->
    </div>
    <!-- đăng ký mail -->
    <!-- mạng xã hội -->
    <div id="bk_widget_social_counters-2" class="widget mnmd-widget">
        <div class="widget__title block-heading block-heading--line">
            <h4 class="widget__title-text">Follow <span>Us</span></h4>
        </div>
        <div class="mnmd-widget-social-counter-counter mnmd-widget widget">
            <div class="mnmd-widget-social-counter__inner">
                <ul class="list-unstyled list-space-xs">
                    <li>
                        <a href="https://www.facebook.com/envato" class="social-tile social-facebook facebook-theme-bg">
                            <div class="social-tile__icon"><i class="mdicon mdicon-facebook"></i></div>
                            <div class="social-tile__inner flexbox">
                                <div class="social-tile__left flexbox__item">
                                    <h5 class="social-tile__title meta-font">Facebook</h5><span class="social-tile__count">218.4K+ likes</span>
                                </div>
                                <div class="social-tile__right"><i class="mdicon mdicon-arrow_forward"></i></div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.twitter.com/envato" class="social-tile social-twitter twitter-theme-bg">
                            <div class="social-tile__icon"><i class="mdicon mdicon-twitter"></i></div>
                            <div class="social-tile__inner flexbox">
                                <div class="social-tile__left flexbox__item">
                                    <h5 class="social-tile__title meta-font">Twitter</h5><span class="social-tile__count">66.6K+ followers</span>
                                </div>
                                <div class="social-tile__right"><i class="mdicon mdicon-arrow_forward"></i></div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.youtube.com/user/envato" class="social-tile social-youtube youtube-theme-bg">
                            <div class="social-tile__icon"><i class="mdicon mdicon-youtube"></i></div>
                            <div class="social-tile__inner flexbox">
                                <div class="social-tile__left flexbox__item">
                                    <h5 class="social-tile__title meta-font">Youtube</h5><span class="social-tile__count">25.5K+ subscribers</span>
                                </div>
                                <div class="social-tile__right"><i class="mdicon mdicon-arrow_forward"></i></div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="https://plus.google.com/+envato" class="social-tile social-googleplus googleplus-theme-bg">
                            <div class="social-tile__icon"><i class="mdicon mdicon-google-plus"></i></div>
                            <div class="social-tile__inner flexbox">
                                <div class="social-tile__left flexbox__item">
                                    <h5 class="social-tile__title meta-font">Google +</h5><span class="social-tile__count">15.4K+ followers </span>
                                </div>
                                <div class="social-tile__right"><i class="mdicon mdicon-arrow_forward"></i></div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- mạng xã hội -->
    <!-- đã hiểu chưa ok-->

</div>
