/*Novatic style for Admindek admin dashboard*/
        /*1. Page layout*/
        body {
            
        }

        body[themebg-pattern="theme1"] {
            background-color: unset !important;
        }

        .header-navbar {
            background-color: #2196F3;
            color: #fff !important;
        }

        .header-navbar .nav-left i {
            color: #fff !important;
        }

        .pcoded .pcoded-header {
            background: #2196F3 !important;
            background: linear-gradient(-87deg, #28a0ff 0, #1171ef 100%) !important;
        }

        .page-header.card {
            background-color: #2196F3;
            background: linear-gradient(-87deg, #28a0ff 0, #1171ef 100%) !important;
            padding: 35px;
            border: none;
            border-radius: 0;
            padding-bottom: 100px;
            margin: 0px;
            color: #fff !important;
        }

        .page-header.card h5+span {
            font-size: 15px !important;
        }

        .page-header .breadcrumb-item>a {
            color: #fff !important;
        }

        .pcoded-main-container {
            margin-top: 60px !important;
        }

        .pcoded-inner-content {
            margin-top: -100px;
            background: #f3f7fb;
        }

        /* .pcoded[theme-layout="vertical"][vertical-placement="left"][vertical-nav-type="expanded"][vertical-effect="shrink"] .pcoded-content {
            margin-left: 250px;
        } */


        /*2. Table*/
        .card {
            margin-bottom: 30px;
            border: 0;
            /*box-shadow: 0 0 2rem 0 rgba(136,152,170,.15);*/

            position: relative;
            display: flex;
            flex-direction: column;
            min-width: 0;
            word-wrap: break-word;
            /*border: 1px solid rgba(0,0,0,.05);*/
            border-radius: .375rem;
            background-color: #fff;
            background-clip: border-box;
        }

        .card-header {
            margin-bottom: 0;
            padding: 1.25rem 1.5rem;
            border-bottom: 1px solid rgba(0, 0, 0, .05) !important;
            background-color: #fff;
        }

        .novaticContainer {
            padding-bottom: 1.5rem !important;
            display: block;
            overflow-x: auto;
            width: 100%;
            padding-left: 0px !important;
            padding-right: 0px !important;
            min-height: 70vh;

        }

        .novaticContainer>div>div>div.row:first-child,
        .novaticContainer>div>div>div.row:last-child {
            padding: 5px 20px !important;
        }

        .novaticContainer>div>div>div.row:first-child select {
            border: 1px solid #cccccc70;
        }

        .table {
        }

        #tableData{
            border-bottom: 1px solid #8898aa24 !important;
            width: 100%;
            margin-bottom: 1rem;
            color: #525f7f;
            background-color: transparent;
            border-width: 0;
        }

        .table .thead-light th {
            color: #8898aa;
            background-color: #f6f9fc;
        }

        #tableData th {
            color: #8898aa;
            background-color: #f6f9fc;
            font-size: .95rem;
            padding-top: 12px !important;
            padding-bottom: 12px !important;
            letter-spacing: 1px;
            text-transform: uppercase;
            border-bottom: 1px solid #e9ecef;
            border-top: 1.1px solid #8898aa44 !important;

            border-left-width: 0;
            border-right-width: 0;
            border-right: 0;
            border-left: 0;
            white-space: nowrap;
        }

        #tableData td {
            border-right: 0;
            border-left: 0;
            /* font-size: .8125rem; */
        }

        #tableData thead th {
            border-bottom: none !important;
        } 

        .table-striped tbody tr:nth-of-type(odd) {
            /* background-color: rgba(64,153,255,0.1); */
            background-color: transparent;
        }

        .table-striped tbody tr:nth-of-type(even) {
            /* background-color: rgba(64,153,255,0.1); */
            background-color: transparent;
        }


        #tableData tbody tr td:first-child, #tableData thead tr th:first-child{
            text-align:center;
            width:50px;
        }
        #tableData tbody tr td:last-child, #tableData thead tr th:last-child{
            text-align:center;
            width:80px;
        }
        #tableData tbody tr td:nth-last-child(2), #tableData thead tr th:nth-last-child(2){
            text-align:center;
            width:80px;
        }
        #tableData tbody tr td:nth-child(2), #tableData thead tr th:nth-child(2){
            text-align:center;
            width:120px;
        }

        .card .table td,
        .card .table th {
            padding-right: 1.5rem;
            padding-left: 1.5rem;
        }

        .dataTables_info {
            color: #525f7f;
            font-size: 0.9em;
        }

        .tableTitle {
            font-weight: 500;
            font-family: "Quicksand", sans-serif;
            padding-top: 7px;
        }

        .page-link {
            color: #525f7f !important;
        }

        #btnAddItem{
            background-color: rgb(46, 206, 115);
            border-bottom-color: rgb(22, 176, 129);
            border-radius:3.25px; 
            box-shadow:rgba(93, 120, 255, 0.15) 0px 4px 16px 0px;
            box-sizing:border-box;
            color:rgb(255, 255, 255); 
            padding: 8px 35px;
            margin-top: 20px;
            float: right;
        }

        #btnAddItem:hover {
            color: #fff;
            background-color: #3758ff;
            border-color: #2a4eff;
        }
        .modal-header{
            border-top-right-radius: 5px !important;
            border-top-left-radius: 5px !important;
        }

        #navLeft{
            font-size: 1.15em;
            letter-spacing: 0.3em;
        }
        
        #navLeft a{
            float: left;
        }
        #navLeft a:hover{
            text-decoration: none;
        }
        .marginLeftZero{
            margin-left: 0 !important;
            width: 100% !important;
        }

        .required{
            color:red;
            font-weight:bold;
        }




        /*10. Ultilities*/
        /*GRADIENT BACKGROUND*/
        .bg-gradient-danger {
            background: linear-gradient(87deg, #f5365c 0, #f56036 100%) !important;
            border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
        }

        .bg-gradient-info {
            border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
            background: linear-gradient(87deg, #11cdef 0, #1171ef 100%) !important;
        }

        .bg-gradient-primary {
            background: linear-gradient(87deg, #5e72e4 0, #825ee4 100%) !important;
            border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
        }

        .bg-gradient-default {
            background: linear-gradient(87deg, #172b4d 0, #1a174d 100%) !important;
            border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
        }

        .bg-gradient-success {
            background: linear-gradient(87deg, #2dce89 0, #2dcecc 100%) !important;
            border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
        }

        .bg-gradient-warning {
            background: linear-gradient(87deg, #fb6340 0, #fbb140 100%) !important;
            border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
        }