@{
    Layout = null;
}

<div class="page-header card">
    <div class="row align-items-end" style="display:none">
        <div class="col-lg-8">
            <div class="page-header-title">
                <i class="feather icon-server bg-c-blue"></i>
                <div class="d-inline">
                    <h5>Novatic CMS</h5>
                    <span>Gapping world project 10/2019</span>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="page-header-breadcrumb">
                <ul class=" breadcrumb breadcrumb-title">
                    <li class="breadcrumb-item">
                        <a href="index-2.html"><i class="feather icon-home"></i></a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="dt-ext-select.html#!">Data Table</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="dt-ext-select.html#!">Select Initialization</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>